<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pingcap.ecommerce.dao.tidb.HotItemMapper">
  <resultMap id="HotItem" type="com.pingcap.ecommerce.model.HotItem">
    <result property="itemId" column="item_id" javaType="java.lang.Long" jdbcType="BIGINT" />
    <result property="itemName" column="item_name" javaType="java.lang.String" jdbcType="VARCHAR" />
    <result property="itemPrice" column="item_price" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
    <result property="itemType" column="item_type" javaType="java.lang.String" jdbcType="VARCHAR" />
    <result property="itemDesc" column="item_desc" javaType="java.lang.String" jdbcType="VARCHAR" />
    <result property="itemLabel" column="item_label" javaType="java.lang.String" jdbcType="VARCHAR" />
  </resultMap>

  <select id="getHighLabelItems" resultMap="HotItem">
    SELECT item_id, item_name, item_price, item_type, item_desc, item_label
    FROM hot_items
    WHERE item_label = 'high'
    LIMIT 10;
  </select>

  <select id="getLowLabelItems" resultMap="HotItem">
    SELECT item_id, item_name, item_price, item_type, item_desc, item_label
    FROM hot_items
    WHERE item_label = 'low'
    LIMIT 10;
  </select>

  <select id="getRecommendedHotItems" resultMap="HotItem">
    SELECT item_id, item_name, item_price, item_type, item_desc, item_label
    FROM hot_items
    WHERE item_label = (SELECT user_label FROM user_labels WHERE user_id = #{userId})
  </select>

  <insert id="batchInsertHotItems" parameterType="com.pingcap.ecommerce.model.HotItem">
    INSERT INTO hot_items(item_id, item_name, item_price, item_type, item_desc, item_label) VALUES
    <foreach item="item" index="index" collection="hotItems" separator=",">
      (#{item.itemId}, #{item.itemName}, #{item.itemPrice}, #{item.itemType}, #{item.itemDesc}, #{item.itemLabel})
    </foreach>
  </insert>

  <delete id="bulkDeleteHotItems">
    DELETE FROM hot_items WHERE item_id IN
    <foreach item="item" index="index" collection="hotItemIds" open="(" close=")" separator=",">
      #{item}
    </foreach>
  </delete>

</mapper>