<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pingcap.ecommerce.dao.tidb.OrderSeriesMapper">
  <resultMap id="OrderSeries" type="com.pingcap.ecommerce.model.OrderSeries">
      <result property="ts" column="ts" javaType="java.time.ZonedDateTime" jdbcType="VARCHAR" />
      <result property="type" column="type" javaType="java.lang.String" jdbcType="VARCHAR" />
      <result property="amount" column="amount" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
      <result property="total" column="total" javaType="java.lang.Long" jdbcType="BIGINT" />
  </resultMap>
  <insert id="insertOrderSeries" parameterType="com.pingcap.ecommerce.model.OrderSeries">
    INSERT INTO s_orders(ts, type, amount, total) VALUES (#{ts}, #{type}, #{amount}, #{total});
  </insert>
  <insert id="insertOrderSeriesList">
    INSERT INTO s_orders(ts, type, amount, total) VALUES
    <foreach item="item" index="index" collection="orderSeriesList" separator="," nullable="true">
      (#{item.ts}, #{item.type}, #{item.amount}, #{item.total})
    </foreach>
  </insert>
  <select id="selectLatestAllTypeAmountAndTotal" resultMap="OrderSeries">
    SELECT ts, type, amount, total
    FROM s_orders
    WHERE type = 'ALL'
    ORDER BY ts DESC
    LIMIT 1;
  </select>
  <select id="selectLatestAllTypeAmountAndTotalHistory" resultMap="OrderSeries">
    SELECT ts, type, amount, total
    FROM s_orders
    WHERE type = 'ALL' AND ts > CURRENT_DATE
    <if test="startTimestamp != null">
      AND ts > #{lastDateTime}
    </if>
    ORDER BY ts ASC;
  </select>

  <select id="selectLatestGroupTypeAmountAndTotal" resultMap="OrderSeries">
    SELECT ts, type, amount, total
    FROM s_orders
    WHERE type != 'ALL' AND ts = (SELECT MAX(ts) FROM s_orders WHERE type != 'ALL')
    ORDER BY amount DESC;
  </select>
</mapper>