<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pingcap.ecommerce.dao.tidb.OrderMapper">
  <resultMap id="OrderVO" type="com.pingcap.ecommerce.vo.OrderVO">
    <result property="orderId" column="order_id" javaType="java.lang.Long" jdbcType="BIGINT" />
    <result property="orderDate" column="order_date" javaType="java.util.Date" jdbcType="VARCHAR" />
    <result property="username" column="username" javaType="java.lang.String" jdbcType="VARCHAR" />
    <result property="userId" column="user_id" javaType="java.lang.String" jdbcType="VARCHAR" />
    <result property="itemId" column="item_id" javaType="java.lang.Long" jdbcType="BIGINT" />
    <result property="itemName" column="item_name" javaType="java.lang.String" jdbcType="VARCHAR" />
    <result property="amount" column="amount" javaType="java.math.BigDecimal" jdbcType="BIGINT" />
    <result property="status" column="status" javaType="java.lang.String" jdbcType="VARCHAR" />
    <result property="currentAddress" column="current_address" javaType="java.lang.String" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="OrderTotalVO" type="com.pingcap.ecommerce.vo.OrderTotalVO">
    <result property="totalAmount" column="total_amount" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
    <result property="totalCount" column="total_cnt" javaType="java.lang.Long" jdbcType="BIGINT" />
  </resultMap>
  <resultMap id="OrderTypeTotalVO" type="com.pingcap.ecommerce.vo.OrderTypeTotalVO">
    <result property="totalAmount" column="total_type_amount" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
    <result property="totalCount" column="total_type_cnt" javaType="java.lang.Long" jdbcType="BIGINT" />
    <result property="itemType" column="item_type" javaType="java.lang.String" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="PageMeta" type="com.pingcap.ecommerce.vo.PageMeta" >
    <result property="pageNum" column="page_num" javaType="java.lang.Integer" jdbcType="INTEGER" />
    <result property="pageSize" column="page_size" javaType="java.lang.Integer" jdbcType="INTEGER" />
    <result property="startKey" column="start_key" javaType="java.lang.Long" jdbcType="BIGINT" />
    <result property="endKey" column="end_key" javaType="java.lang.Long" jdbcType="BIGINT" />
  </resultMap>

  <select id="getOrders" resultMap="OrderVO">
    SELECT
      o.id AS order_id,
      o.create_time AS order_date,
      o.user_id,
      u.username,
      o.item_id,
      o.item_name,
      o.amount,
      e.status,
      e.current_address
    FROM orders o
    LEFT JOIN expresses e ON o.id = e.order_id
    LEFT JOIN users u on o.user_id = u.id
    <where>
      <if test="username != null">
        AND u.username = #{username}
      </if>
    </where>
    ORDER BY o.create_time DESC
    LIMIT #{pageable.offset}, #{pageable.pageSize};
  </select>
  <!--
    If you use `LIMIT ... OFFSET ...` to paginate the query, the latency of the query will
    also become larger as the OFFSET value gets larger and larger.
  -->
  <select id="getOrderIds" resultType="long">
    SELECT
        o.id
    FROM orders o
    ORDER BY o.create_time DESC
    LIMIT #{offset}, #{pageSize};
  </select>
  <!--
    We can use the window function of TiDB to paginate data according to a certain key value (Fox example: user_id).
    and then we can use the index of the key to achieve faster paging processing of data.

    For details about the pagination processing of TiDB when the amount of data is large, please
    refer to the "Paginate Results" chapter in the TiDB Development Guide.
    Reference: https://docs.pingcap.com/tidb/dev/dev-guide-paginate-results#paging-batches-for-single-field-primary-key-tables
  -->
  <select id="getOrderIdPages" resultMap="PageMeta">
    SELECT
      floor((t.row_num - 1) / #{pageSize}) + 1 AS page_num,
      min(t.id) AS start_key,
      max(t.id) AS end_key,
      count(*) AS page_size
    FROM (
       SELECT id, row_number() OVER (ORDER BY id) AS row_num
       FROM orders
    ) t
    GROUP BY page_num
    ORDER BY page_num;
  </select>
  <select id="getOrderIdsByPageMeta" resultType="long">
    SELECT id FROM orders
    WHERE id BETWEEN #{startKey} AND #{endKey}
    ORDER BY id
  </select>

  <select id="getOrdersCount" resultType="_long">
    SELECT count(*)
    FROM orders o
    LEFT JOIN expresses e ON o.id = e.order_id
    LEFT JOIN users u on o.user_id = u.id
    <where>
      <if test="username != null">
        AND u.username = #{username}
      </if>
    </where>
    ORDER BY o.create_time DESC;
  </select>
  <select id="getOrdersByUserId" parameterType="java.lang.String" resultMap="OrderVO">
    SELECT
      o.id AS order_id,
      o.create_time AS order_date,
      o.user_id,
      u.username,
      o.item_id,
      o.item_name,
      o.amount,
      e.status,
      e.current_address
    FROM orders o
    LEFT JOIN expresses e ON o.id = e.order_id
    LEFT JOIN users u on o.user_id = u.id
    WHERE o.user_id = #{userId}
    ORDER BY o.create_time DESC;
  </select>
  <select id="getOrderTotalAndAmount" resultMap="OrderTotalVO">
    SELECT
      coalesce(sum(amount), 0) as total_amount,
      coalesce(count(id), 0) as total_cnt
    FROM orders
    WHERE create_time > current_date;
  </select>
  <select id="getOrderTotalAndAmountByType" resultMap="OrderTypeTotalVO">
    SELECT
      coalesce(sum(amount), 0) as total_type_amount,
      coalesce(count(o.id), 0) as total_type_cnt,
      item_type
    FROM orders o
    LEFT JOIN items i ON o.item_id = i.id
    WHERE o.create_time > current_date
    GROUP BY item_type
  </select>
</mapper>