<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pingcap.ecommerce.dao.tidb.SchemaMapper">
  <resultMap id="TableInfo" type="com.pingcap.ecommerce.vo.TableInfo">
    <result property="databaseName" column="TABLE_CATALOG" javaType="java.lang.String" jdbcType="VARCHAR" />
    <result property="schemaName" column="TABLE_SCHEMA" javaType="java.lang.String" jdbcType="VARCHAR" />
    <result property="tableName" column="TABLE_NAME" javaType="java.lang.String" jdbcType="VARCHAR" />
    <result property="kind" column="TABLE_TYPE" javaType="java.lang.String" jdbcType="VARCHAR" />
    <result property="createdTime" column="CREATE_TIME" javaType="java.util.Date" jdbcType="VARCHAR" />
    <result property="tableRows" column="TABLE_ROWS" javaType="java.math.BigDecimal" jdbcType="BIGINT" />
    <result property="dataSize" column="DATA_SIZE" javaType="java.math.BigDecimal" jdbcType="BIGINT" />
    <result property="indexSize" column="INDEX_SIZE" javaType="java.math.BigDecimal" jdbcType="BIGINT" />
    <result property="totalSize" column="TOTAL_SIZE" javaType="java.math.BigDecimal" jdbcType="BIGINT" />
  </resultMap>
  <select id="getTableNames" resultType="string">
    SHOW TABLES;
  </select>
  <select id="getTableInfos" parameterType="string" resultMap="TableInfo">
    SELECT
      TABLE_CATALOG,
      TABLE_SCHEMA,
      TABLE_NAME,
      TABLE_TYPE,
      CREATE_TIME,
      TABLE_ROWS,
      DATA_LENGTH AS DATA_SIZE,
      INDEX_LENGTH AS INDEX_SIZE,
      DATA_LENGTH + INDEX_LENGTH AS TOTAL_SIZE
    FROM
      INFORMATION_SCHEMA.TABLES
    WHERE TABLE_SCHEMA LIKE #{tableName};
  </select>
</mapper>