<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pingcap.ecommerce.dao.tidb.TableStatsMapper">
  <resultMap id="StatsMeta" type="com.pingcap.ecommerce.vo.StatsMeta">
    <result property="dbName" column="Db_name" javaType="java.lang.String" jdbcType="VARCHAR" />
    <result property="tableName" column="Table_name" javaType="java.lang.String" jdbcType="VARCHAR" />
    <result property="partitionName" column="Partition_name" javaType="java.lang.String" jdbcType="VARCHAR" />
    <result property="updateTime" column="Update_time" javaType="java.util.Date" jdbcType="VARCHAR" />
    <result property="modifyCount" column="Modify_count" javaType="java.lang.Long" jdbcType="BIGINT" />
    <result property="rowCount" column="Row_count" javaType="java.lang.Long" jdbcType="BIGINT" />
  </resultMap>

  <resultMap id="TableStats" type="com.pingcap.ecommerce.model.TableStats">
    <result property="id" column="id" javaType="java.lang.Long" jdbcType="BIGINT" />
    <result property="dbName" column="db_name" javaType="java.lang.String" jdbcType="VARCHAR" />
    <result property="tableName" column="table_name" javaType="java.lang.String" jdbcType="VARCHAR" />
    <result property="rowTotal" column="row_total" javaType="java.lang.Long" jdbcType="BIGINT" />
    <result property="ts" column="ts" javaType="java.time.ZonedDateTime" jdbcType="VARCHAR" />
  </resultMap>

  <select id="getTableStatsMetaList" resultMap="StatsMeta">
    SHOW STATS_META
    <where>
      <if test="dbName != null">
        db_name = #{dbName}
      </if>
      <if test="tableName != null">
        AND table_name = #{tableName}
      </if>
    </where>
  </select>

  <insert id="insertTableStatsList" parameterType="com.pingcap.ecommerce.model.TableStats">
    INSERT INTO table_stats_history(db_name, table_name, row_total)
    VALUES 
    <foreach collection="tableStatsList" item="item" separator=",">
      (#{item.dbName}, #{item.tableName}, #{item.rowTotal})
    </foreach>
  </insert>

  <select id="getTableStatsHistory" resultMap="TableStats">
    SELECT *
    FROM table_stats_history tst
    <where>
      <if test="dbName != null">
        db_name = #{dbName}
      </if>
      <if test="tableName != null">
        AND table_name = #{tableName}
      </if>
      <if test="lastDateTime != null">
        AND ts > #{lastDateTime}
      </if>
    </where>
    ORDER BY ts DESC
    LIMIT 1000
  </select>
</mapper>