<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pingcap.ecommerce.dao.tidb.UserLabelMapper">
  <resultMap id="UserLabel" type="com.pingcap.ecommerce.model.UserLabel">
    <result property="userId" column="user_id" javaType="java.lang.String" jdbcType="VARCHAR" />
    <result property="userLabel" column="user_label" javaType="java.lang.String" jdbcType="VARCHAR" />
    <result property="avgAmount" column="avg_amount" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />
  </resultMap>

  <insert id="batchInsertUserLabels" parameterType="com.pingcap.ecommerce.model.UserLabel">
    INSERT INTO user_labels(user_id, user_label, avg_amount) VALUES
    <foreach item="item" index="index" collection="userLabels" separator=",">
      (#{item.userId}, #{item.userLabel}, #{item.avgAmount})
    </foreach>;
  </insert>

  <delete id="bulkDeleteUserLabels">
    DELETE FROM user_labels WHERE user_id IN
    <foreach item="item" index="index" collection="userIds" open="(" close=")" separator=",">
      #{item}
    </foreach>;
  </delete>

</mapper>